:root{
    --my-bg: #232946;
    --mytext: #FFFFFE;
    --mybutton: #EEBBC3;
    --mybuttontext: #232946;
    --mystroke: #121629;
}

.my-bg{
    background-color: var(--my-bg);
    color: var(--mytext);
}

.my-button{
    background-color: var(--mybutton);
    color: var(--mybuttontext);
    border: var(--mystroke) solid 1px;
    font-weight: bold;
}

.my-input{
    width: 600px;
    height: 3rem;
    background-color: var(--mystroke);
    color: var(--mytext);
    border-radius: 13px;
    padding-left: 20px;
    border: var(--mybutton) 2px solid;
    font-size: x-large;
}

input[type="date"].my-input{
    width: 200px;
    font-size: large;
    border-radius: 10px;
}

textarea.my-input{
    width: 400px;
    height: 100px;
    font-size: large;
}

.my-form{
    border-radius: 30px;
    background: #232946;
    box-shadow:  20px 20px 60px #0e101c,
                -20px -20px 60px #384270;
}

.my-login{
    border-radius: 30px;
    background: #EEBBC3;
    box-shadow:  30px 30px 66px #ca9fa6,
                -30px -30px 66px #ffd7e0;
}

.my-valid-form{
    width: 600px;
    height: 3rem;
    background-color: var(--mystroke);
    color: var(--mytext);
    border-radius: 13px;
    padding-left: 20px;
    border: #198754 2px solid;
    font-size: x-large;
}

input[type="date"].my-valid-form{
    width: 200px;
    font-size: large;
    border-radius: 10px;
    border: #198754 2px solid;
}

textarea.my-valid-form{
    width: 400px;
    height: 100px;
    font-size: large;
    border: #198754 2px solid;
}

.my-invalid-form{
    width: 600px;
    height: 3rem;
    background-color: var(--mystroke);
    color: var(--mytext);
    border-radius: 13px;
    padding-left: 20px;
    border: #dc3545 2px solid;
    font-size: x-large;
}

input[type="date"].my-invalid-form{
    width: 200px;
    font-size: large;
    border-radius: 10px;
    border: #dc3545 2px solid;
}

textarea.my-invalid-form{
    width: 400px;
    height: 100px;
    font-size: large;
    border: #dc3545 2px solid;
}